.canvas1{
	height: 600px;
	width: 100%;
	text-align: center;
}

.canvas1 .header{
	padding-top: 15%;
	font-size: 9vw;
	color: #383b3f;
	margin: 0px;
	text-shadow: 2px 5px 5px #888888;
}
.canvas1 .input{
	width:45%;
	height: 50px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom-color: #92c19f;
	border-bottom-width: 1px;
	padding-bottom: 1%;
	font-size: 3vw;
	color: #92c19f;
	text-align: center;
	outline: none;

}

.canvas1 .button{
	top:70%;
	background-color: #ea5b4d;
	width:50%;
	height: 9%;
	border-radius: 10px;
	border-width: 0px;
	font-size: 2vw;
	font-weight: 2;
	box-shadow: 5px 8px 15px #888888;

}