.fontxaxis text {
  font-family: sans-serif;
  font-size: 12px;
}
.fontyaxis text {
  font-family: sans-serif;
  font-size: 12px;
}
.fontxaxis path,
.fontxaxis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.fontyaxis path,
.fontyaxis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.abc {
            width: 100%;
            height: 15vh;
            outline: 1px solid;
            float: left;
            text-align: center;
        }
.mido {
            width: 100%;
            height: 80vh;
            outline: 1px solid;
            float: left;
        }
#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    position: relative;
}
.repdata:hover {
    /*fill: #d3d3d3;*/
    opacity: 0.1;
}
.svgMain {margin-left:auto; margin-right:auto; display:block;}*/