.constant{
	font-family: "Helvetica Neue";
	background-color: #F5F5F5;
	margin: 0px;
}

.header{
	color: #616161;
	font-size: 5vw;
	margin: 0px;
	padding-top: 2%;
	padding-bottom: 5%;
	text-align: center;

}

.info{
	color: #727272;
	font-size: 3vw;
	text-align: center;
	width: 100%;
	display: inline;
	padding-left: 5%;
}

.info .span{
	color: #212121;
}